Configuration.swift
MovieDB.xcodeproj/xcuserdata/
MovieDB.xcodeproj/project.xcworkspace/xcuserdata/

Build/
DerivedData/
.build/

xcuserdata/
*.xcworkspace/
.DS_Store

.AppleDouble
.LSOverride

*.dSYM/
*.ipa
*.xcarchive

.env
.env.local
